

body {
	margin:0 0 0 0;
}
table.marco {
	border-collapse:collapse;
	background-color: #FFFFFF;
	width:100%;
}
table.barraBanner {
	border-collapse:collapse;
	background-color:#00796B;
	color: white;
	font-family: Arial;
	height:45px;
	width:100%;								
}
table.barraMenu {
	background-color:#009688;
	border-bottom:1px #B2DFDB;
	border-top:1px #B2DFDB;
	font-family:Verdana, Arial;
	font-size:11px;
	width:100%;				
}
table.barraHerramienta {
	border-bottom:1px solid;
	width:100%;				
}
td.barraIzquierda {
	background-color:#87B1BA;
	border-right:1px #B2DFDB;
	height:480px;
	vertical-align:top;
}
td.barraDerecha {
	width:5px;
	vertical-align:top;
	visibility:visible;
}
table.barraIzquierdaX {
	border-style:solid;
	border:0px;
	width:100%;				
}
table.barraDerecha {
	background-color:#66FFCC;
	border-style:solid;
	border:0px;
	width:100%;				
}
table.barraPie {
	background-color:#727272;
	border-top:1px #B2DFDB;
	color: white;
	font-family:Verdana, Arial;
        font-size:11px;
	height:25px;
	width:100%;				
}
table.barraDerechos {
	background-color:#212121;
	color: white;
	font-family:Verdana, Arial;
        font-size:9px;
	width:100%;				
}
